footer {
  background-color: #000;
  color: #fff;
  padding: 50px 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #ff85b4;
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #ff85b4;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -270px;
}

.social-icons a {
  margin: 0 5px;
}

.social-icons i {
  font-size: 24px;
  transition: transform 0.3s;
}

.social-icons i:hover {
  transform: scale(1.2);
}

.decorative-line {
  border-top: 1px solid #ff85b4;
  margin: 20px auto;
  width: 80%;
}

.developers, .copyright {
  text-align: center;
  margin-top: 20px;
}

.developers p, .copyright p {
  margin: 0;
  font-size: 14px;
  opacity: 0.8;
}

.shopping {
  width: 23px;
}

.loo {
  color: #ff85b4;
}

/* Responsive styles /

@media only screen and (max-width: 768px) {
  .footer-container {
    grid-template-columns: repeat(1, 1fr); / Change to single column layout */
  }

  .social-icons {
    margin-left: -340px;
  }
}
